[submodule "themes/gal"]
	path = themes/gal
	url = https://github.com/AyumuNekozuki/hexo-theme-gal.git
[submodule "themes/amazing"]
	path = themes/amazing
	url = git@github.com:AyumuNekozuki/hexo-theme-amazing.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = git@github.com:AyumuNekozuki/hexo-theme-icarus.git
