.APShareButton_Wrapper {
	display: flex;
	align-items: center;
	min-width: 40px;
}

.APShareButton {
	background-color: transparent;
	border: none;
	padding: 0px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	z-index: 5;

	&.misskey {
		background: #95cf4b;
	}
	&.mastodon {
		background: #595aff;

		.icon {
			font-size: 20px;
		}
	}
}

.inputForm {
	display: flex;
	margin-left: -1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	width: 0;
	transition: all 0.2s ease-in-out;

	&.active {
		width: 90%;
	}

	input {
		padding: 0.25rem 0.25rem 0.25rem 1.25rem;
		width: 10rem;
		font-size: 0.9em;
		color: #333;
		letter-spacing: 0.03em;
	}

	button {
		padding: 0 0.5rem;
		font-size: 0.9em;
		color: #333;
		letter-spacing: 0.03em;
	}

	&.misskey {
		box-shadow: 0 0 5px #95cf4b;

		button {
			color: #95cf4b;
		}
	}
	&.mastodon {
		box-shadow: 0 0 5px #595aff;

		button {
			color: #595aff;
		}
	}
}
