$textcolor1: #252525;
$textcolor2: #252525;
$textcolor3: #333;
$textcolor4: #7F7FFF;
$textcolor5: #666;
$urlcolor1: #7F7FFF;
$urlcolor2: #7F7FFF;
$background1: #EFEFFF;
$background2: #fafafa;
$border1: #eee;
$border2: #ccc;

$themacolor: #7F7FFF;

$bs-info: #17a2b8;

$card-shadow: 0 0 3px #7f7fff;;