$textcolor1: #c4c4c4;
$textcolor2: #c4c4c4;
$textcolor3: #ababab;
$urlcolor1: #0080ff;
$urlcolor2: #0080ff;
$background1: #f4f4f4;
$background2: rgba(40,44,52,0.5);
$border1: #555;
$border2: #999;

$bs-info: #17a2b8;

$card-shadow: 0 4px 10px #00000020, 0 0 1px #00000020;